.navigation-bar {
    background-color: #100f0f;
    display: flex;
    justify-content: center;   
    align-items: center;
    padding: 15px;
    font-size: 14px;
}

.navigation-bar--with-social-icons {
    justify-content: space-between;
}

.navigation-bar__navigation-items {
    display: flex;
}

.navigation-bar__navigation-item {
    margin: 0 10px;
}

.navigation-bar__navigation-item a {
    text-decoration: none;
    color: #4d4d4d;
}

.navigation-bar__social-media {
    display: flex;
}

.navigation-bar__social-media-link {
    margin: 0 5px;
}

.navigation-bar__social-media-link:last-child {
    margin-right: 10px;   
}