.standard-spot {
    flex-basis: 23%;
}

.standard-spot__image {
    width: 100%;
    height: 250px;
}

.standard-spot__text-content {
    padding: 15px;
}

.standard-spot__manchet {
    font-size: 12px;
}

.standard-spot__heading {
    font-size: 18px;
    margin: 5px 0px 10px 0px;
}

.standard-spot__text {
    margin: 0;
    font-size: 14px;
}