.blog-post {
    
}

.blog-post__header {
    position: relative;
}

.blog-post__image-texts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.blog-post__image {
    width: 100%;
    max-height: 400px;
}

.blog-post__image-heading {
    max-width: 450px;
    color: white;
}

.blog-post__image-manchet {
    max-width: 450px;
    color: white;
}

.blog-post__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 200px;
}

.blog-post__title {
    margin-bottom: 10px;
}

.blog-post__manchet {
    margin-bottom: 10px;
}

.blog-post__bullet {
    padding: 0 20px;
}
