body {
    margin: 0;
    font-family: 'Kreon', 'Serif';
    color: #4d4d4d;
}

.page-container {
    padding: 0 25%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Domine', 'Times New Roman';
    color: #100f0f;
}
