body {
    margin: 0;
    font-family: 'Kreon', 'Serif';
    color: #4d4d4d;
    background-color: #f2f2f2;
}

.page-container {
    padding: 0 25%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Domine', 'Times New Roman';
    color: #1d1b1b;
}

input {
    font-family: 'Kreon', 'Serif';
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FFFFFF;
    opacity: 1; /* Firefox */
    font-family: 'Kreon', 'Serif';
}
  
input::-ms-input-placeholder { /* Microsoft Edge */
    color: #FFFFFF;
    font-family: 'Kreon', 'Serif';
}
